.container {
    color: black;
    text-align: right;
    max-width: 1222px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto 4rem auto;
    direction: rtl;
}

.articles {
    margin-top: 1rem;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* برای صفحه‌نمایش‌های کوچک‌تر (موبایل) */
@media (max-width: 768px) {
    .container {
        padding: 0 10px;
        margin-bottom: 2rem;
    }

    .articles {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

/* برای صفحه‌نمایش‌های خیلی کوچک (مثل موبایل‌های قدیمی) */
@media (max-width: 480px) {
    .container {
        padding: 0 5px;
    }

    .articles {
        gap: 10px;
    }
}