.tabs {
  position: relative;
  width: 100%;
  padding: 20px;
  direction: rtl;
  font-family: shabnam, sans-serif;
}

.tabInput {
  display: none;
}

.tabList {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto 20px;
  flex-wrap: wrap;
}

.tabList li {
  flex: 1;
  min-width: 100px;
  text-align: center;
}

.tabLabel {
  display: block;
  font-size: 16px;
  color: #666;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.tabLabel:hover,
.tabInput:checked + .tabList li .tabLabel {
  color: #000;
}

.tabLabel::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 3px;
  width: 0;
  background: linear-gradient(90deg, #181818, #363636);
  border-radius: 10px;
  transition: width 0.3s ease;
}

.tabInput:checked + .tabList li .tabLabel::before,
.tabLabel:hover::before {
  width: 100%;
}

.contents {
  margin-top: 20px;
}

.tabsContent {
  display: none;
  animation: content 0.3s ease-in-out;
  line-height: 1.6;
}

.tabsContent.active {
  display: block;
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* دسکتاپ */
@media (min-width: 769px) {
  .tabs {
    padding: 30px;
  }
  .tabList {
    max-width: 600px;
  }
  .tabLabel {
    font-size: 18px;
    padding: 12px 20px;
  }
}

/* تبلت */
@media (max-width: 768px) {
  .tabs {
    padding: 15px;
  }
  .tabList {
    gap: 15px;
  }
  .tabLabel {
    font-size: 14px;
    padding: 8px 12px;
  }
}

/* موبایل */
@media (max-width: 480px) {
  .tabs {
    padding: 10px;
  }
  .tabList {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .tabList li {
    min-width: 100%;
  }
  .tabLabel {
    font-size: 12px;
    padding: 6px 10px;
  }
}