.products {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.filtering {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filtering select {
  background: white;
  color: black;
  direction: rtl;
  padding: 8px 30px 8px 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: "Vazir", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNiYmIiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIvPjwvc3ZnPg==");
  background-position: left 10px center;
  background-repeat: no-repeat;
  background-size: 18px;
}

.view {
  display: flex;
  align-items: center;
  gap: 10px;
  color: gray;
  font-size: 1.8rem;
}

.view svg {
  cursor: pointer;
  transition: color 0.1s ease-in;
}

.view svg:hover {
  color: rgb(74, 71, 71);
}

.view .active {
  color: black !important;
  cursor: default !important;
}

.view svg:nth-child(1) {
  font-size: 1.5rem;
}

.view svg:nth-child(2) {
  font-size: 2rem;
}

.main {
  display: grid;
  gap: 20px;
}

.main.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.main.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.main.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.available_filters {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  justify-content: flex-end;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.available_filters div {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  flex-direction: row-reverse;
  transition: color 0.1s ease-in;
  font-family: "Vazir", sans-serif;
}

.available_filters div:hover {
  color: gray;
}

.available_filters div:first-child {
  padding-left: 15px;
  border-left: 1px solid rgba(0, 0, 0, 0.29);
}

/* پاسخ‌گویی برای دستگاه‌های مختلف */
@media (max-width: 768px) {
  .products {
    width: 90%;
  }

  .main.grid-3,
  .main.grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .main.grid-2,
  .main.grid-3,
  .main.grid-4 {
    grid-template-columns: 1fr;
  }

  .filtering {
    flex-direction: column;
    gap: 10px;
  }

  .view {
    justify-content: center;
  }
}