.userTicket,
.adminticket {
  width: 50%;
  border-radius: 5px;
  padding: 0px 10px 10px;
  margin-bottom: 15px;
}

.userTicket {
  background-color: #711d1c;
  color: white;
}

.adminticket {
  background-color: #f9f9f9;
  border: 3px solid #711d1c;
  margin-right: auto;
  color: black;
}

/* ریسپانسیو کردن عرض کارت‌ها در موبایل */
@media (max-width: 768px) {
  .userTicket,
  .adminticket {
    width: 100%;
  }
}

.userTicket img,
.adminticket img {
  width: 80px;
  height: auto;
  border-radius: 100px;
}

.ticket_main {
  display: flex;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 10px;
}

.ticket_main div {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.ticket_main div div {
  justify-content: right;
  gap: 5px;
  flex-direction: column;
}

/* متن داخل تیکت */
.ticket_text {
  background-color: white;
  color: black;
  margin: 0.5rem 1rem;
  border-radius: 5px;
  padding: 0.5rem;
}

/* متن داخل تیکت برای مدیر */
.adminticket .ticket_text {
  background-color: #711d1c;
  color: white;
}

/* باکس خالی */
.empty {
  width: 100%;
  border-radius: 5px;
  background-color: #711d1c21;
  text-align: center;
  margin-top: 60px;
  padding: 20px 0;
  color: #711d1c;
}

/* نقش کاربر/مدیر */
.ticket_main div div span {
  font-size: 14px;
  color: gray;
}

/* تصویر کوچکتر برای موبایل */
@media (max-width: 480px) {
  .userTicket img,
  .adminticket img {
    width: 60px;
  }

  .ticket_text {
    margin: 0.5rem 0.5rem;
  }
}
